<!-- include header -->
<% include("../layouts/_header.ejs") %>
<!-- include header -->
<h1>Welocme! to user management system </h1>
<table>
  <tr>
    <td>
      <img
        style="height: 100px; width: 100px"
        src="userImages/<%= user.image %>"
        alt="<%= user.image %>"
      />
    </td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%=user.name%></td>
  </tr>
  <tr>
    <td>Eamil:</td>
    <td><%= user.email %></td>
  </tr>
  <tr>
    <td>Mobile:</td>
    <td><%= user.mobile %></td>
  </tr>
  <tr>
    <td>Verify:</td>
    <td><%= user.is_verified===1 ? "true":"false" %></td>
  </tr>
</table>

<br />
<a href="/edit-user-profile?id=<%= user._id %>">Edit Profile</a>
<br /><br />
<a href="/logout">Logout</a>
<!-- include footer -->
<% include("../layouts/_footer.ejs") %>
<!-- include footer -->